<div class='max-width d-flex justify-between gap-05'>
	<img src='{{base}}/src/img/logo_full.svg' />
	<div class='d-flex flex-col gap-05'>
		<p class='bold'>Language</p>
		<ul class='d-flex flex-col gap-025'>
			<li>
				<button
					class='no-btn d-flex center gap-05 small {{isActive lang "en"}}'
					onclick="changeLanguage('en')"
				>
					<img src='{{base}}/src/img/flags/flag_en.svg' />
					English
				</button>
			</li>
			<li>
				<button
					class='no-btn d-flex center gap-05 small {{isActive lang "nl"}}'
					onclick="changeLanguage('nl')"
				>
					<img src='{{base}}/src/img/flags/flag_nl.svg' />
					Dutch
				</button>
			</li>
			<li>
				<button
					class='no-btn d-flex center gap-05 small {{isActive lang "it"}}'
					onclick="changeLanguage('it')"
				>
					<img src='{{base}}/src/img/flags/flag_it.svg' />
					Italian
				</button>
			</li>
		</ul>
	</div>
</div>

<div class='grow-1 d-flex'>
	<ul class='grow-1 d-flex flex-col gap-05 justify-between'>
		<li>
			<a
				class='bold d-flex align-center gap-075'
				href='mailto:jeremyk@novakstudios.nl'
				target='_blank'
			>
				<img src='{{base}}/src/img/socials/email.svg' />
				jeremyk@novakstudios.com
			</a>
		</li>
		<li>
			<a
				class='bold d-flex align-center gap-075'
				href='https://www.instagram.com/novakstudiosnl'
				target='_blank'
			>
				<img src='{{base}}/src/img/socials/instagram.svg' />
				@novakstudiosnl
			</a>
		</li>
		<li>
			<a
				class='bold d-flex align-center gap-075'
				href='https://www.tiktok.com/@novak.studios'
				target='_blank'
			>
				<img src='{{base}}/src/img/socials/tiktok.svg' />
				novak.studios
			</a>
		</li>
		<li>
			<a
				class='bold d-flex align-center gap-075'
				href='https://bsky.app/profile/novakstudios.bsky.social'
				target='_blank'
			>
				<img src='{{base}}/src/img/socials/bluesky.svg' />
				@novakstudios.bsky.social
			</a>
		</li>
		<li>
			<a
				class='bold d-flex align-center gap-075'
				href='https://www.linkedin.com/company/novak-studios-nl/'
				target='_blank'
			>
				<img src='{{base}}/src/img/socials/linkedin.svg' />
				Novak Studios
			</a>
		</li>
	</ul>
</div>