<article id="method" class="w-100 d-flex flex-col center">
	<section class="max-width page-p d-flex flex-col my-2 gap-1 center">
		<h1>{{t 'pages.method.h1'}}</h1>
		<div class="intro">
			<div>
				<h3>{{t 'pages.method.intro.h3'}}</h3>
				<p>{{t 'pages.method.intro.text'}}</p>
			</div>
			<div>
				<img src="{{base}}src/img/method.png" />
			</div>
		</div>
	</section>

	<section class="max-width page-p d-flex flex-col my-2 gap-1 center">
		<div class="row-1">
			<div class="step-1">
				<h4>{{t 'pages.method.cycle.step1.heading'}}</h4>
				<p>{{t 'pages.method.cycle.step1.text'}}</p>
			</div>
		</div>

		<div class="row-2">
			<div class="d-flex flex-col gap-1">
				<div class="step-2">
					<h4>{{t 'pages.method.cycle.step2.heading'}}</h4>
					<p>{{t 'pages.method.cycle.step2.text'}}</p>
				</div>
				<div class="step-3">
					<h4>{{t 'pages.method.cycle.step3.heading'}}</h4>
					<p>{{t 'pages.method.cycle.step3.text'}}</p>
				</div>
			</div>

			<div class="title d-flex center">
				<h3>{{t 'pages.method.cycle.title'}}</h3>
			</div>
		</div>

		<div class="row-3">
			<div class="step-4">
				<h4>{{t 'pages.method.cycle.step4.heading'}}</h4>
				<p>{{t 'pages.method.cycle.step4.text'}}</p>
			</div>

			<div class="step-5">
				<h4>{{t 'pages.method.cycle.step5.heading'}}</h4>
				<p>{{t 'pages.method.cycle.step5.text'}}</p>
			</div>
		</div>
	</section>
</article>
