{{#with (lookup projects.pages key) as |project|}}
<article
	id="project-page"
	style="background-image: url('{{@root.base}}src/img/projects/{{project.img_files }}/background-30.png');"
	class="w-100"
>
	<section
		id="hero"
		style="--hero-color:{{project.hero_color}}; --hero-border:{{project.hero_stroke}}; --hero-text-color: {{project.hero_text_color}};"
		class="w-100 d-flex flex-col center"
	>
		<div class="max-width page-p d-flex flex-col my-2 gap-1">
			<p class="small">
				<span>
					<a href="{{@root.base}}index.html" class="breadcrumb">Home</a>
				</span>
				/
				<span>
					<a href="{{@root.base}}src/pages/projects.html" class="breadcrumb">
						Projects
					</a>
				</span>
				/
				<span>
					{{tVariables 'pages.projects.${project}.title'
					project=project.locale_file }}
				</span>
			</p>

			<div class="cover {{project.collab_overlap}}">
				{{#if project.collab}}
				<div class="collab d-flex flex-col center">
					<h5>In collaboration with:</h5>
					<img
						src="{{@root.base}}src/img/projects/{{project.img_files }}/collab.png"
					/>
				</div>
				{{/if}}
				<img
					class="w-100"
					src="{{@root.base}}src/img/projects/{{project.img_files }}/cover.png"
				/>
			</div>

			<div class="d-flex flex-col gap-1 center">
				<h3 class="upper text-center">
					{{tVariables 'pages.projects.${project}.tagline'
					project=project.locale_file }}
				</h3>
				<p class="text-center">
					{{tVariables 'pages.projects.${project}.description'
					project=project.locale_file }}
				</p>
			</div>
		</div>
	</section>

	{{#if project.video}}
	<section id="video" class="w-100 d-flex flex-col center">
		<div class="max-width page-p d-flex flex-col mt-2 gap-1">
			<iframe width="526" height="296" src="{{project.video}}"></iframe>
		</div>
	</section>
	{{/if}}

	<section
		id="blog"
		style="--btn-color: {{project.btn_color}};"
		class="w-100 d-flex flex-col center"
	>
		<div class="max-width page-p my-2">
			<div class="paragraph d-flex gap-1">
				<div class="text d-flex flex-col gap-2">
					<div>
						<h5>
							{{tVariables
							'pages.projects.${project}.article.paragraph_1.heading'
							project=project.locale_file }}
						</h5>
						<p>
							{{tVariables 'pages.projects.${project}.article.paragraph_1.text'
							project=project.locale_file }}
						</p>
					</div>
					<div class="d-flex flex-col gap-05">
						{{#if project.paragraphs.paragraph_1.btn_1}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_1.btn_1'
							project=project.locale_file }}</a
						>
						{{/if}} {{#if project.paragraphs.paragraph_1.btn_2}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_1.btn_2'
							project=project.locale_file }}</a
						>
						{{/if}}
					</div>
				</div>

				<div class="img">
					<img
						src="{{@root.base}}src/img/projects/{{project.img_files }}/paragraph1.png"
					/>
				</div>
			</div>

			<div class="paragraph d-flex gap-1">
				<div class="img">
					<img
						src="{{@root.base}}src/img/projects/{{project.img_files }}/paragraph2.png"
					/>
				</div>

				<div class="text d-flex flex-col gap-2">
					<div>
						<h5>
							{{tVariables
							'pages.projects.${project}.article.paragraph_2.heading'
							project=project.locale_file }}
						</h5>
						<p>
							{{tVariables 'pages.projects.${project}.article.paragraph_2.text'
							project=project.locale_file }}
						</p>
					</div>
					<div class="d-flex flex-col gap-05">
						{{#if project.paragraphs.paragraph_2.btn_1}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_2.btn_1'
							project=project.locale_file }}</a
						>
						{{/if}} {{#if project.paragraphs.paragraph_2.btn_2}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_2.btn_2'
							project=project.locale_file }}</a
						>
						{{/if}}
					</div>
				</div>
			</div>

			<h3 class="paragraph text-center">
				{{tVariables 'pages.projects.${project}.article.tagline'
				project=project.locale_file }}
			</h3>

			<div class="paragraph d-flex gap-1">
				<div class="text d-flex flex-col gap-2">
					<div>
						<h5>
							{{tVariables
							'pages.projects.${project}.article.paragraph_3.heading'
							project=project.locale_file }}
						</h5>
						<p>
							{{tVariables 'pages.projects.${project}.article.paragraph_3.text'
							project=project.locale_file }}
						</p>
					</div>
					<div class="d-flex flex-col gap-05">
						{{#if project.paragraphs.paragraph_3.btn_1}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_3.btn_1'
							project=project.locale_file }}</a
						>
						{{/if}} {{#if project.paragraphs.paragraph_3.btn_2}}
						<a class="btn-tertiary text-center"
							>{{tVariables
							'pages.projects.${project}.article.paragraph_3.btn_2'
							project=project.locale_file }}</a
						>
						{{/if}}
					</div>
				</div>

				<div class="img">
					<img
						src="{{@root.base}}src/img/projects/{{project.img_files }}/paragraph3.png"
					/>
				</div>
			</div>
		</div>
	</section>
</article>
{{/with}}
