<a class='card project d-flex flex-col gap-1'>
	<p>{{@root.base}}</p>
	{{#if img_src}}
		<img src='{{@root.base}}{{img_src}}' />
	{{/if}}

	<div class='grow-1 d-flex flex-col gap-1 justify-between mx-1 mb-1'>
		<div class='d-flex flex-col gap-1'>
			<h4>{{tVariables
					'cards.projects.${project}.tagline'
					project=locale_file
				}}</h4>
			<p>{{tVariables
					'cards.projects.${project}.description'
					project=locale_file
				}}</p>
		</div>

		<div class='d-flex gap-075 align-center'>
			<div class='grow-1 text-right'>
				<p class='bold'>{{tVariables
						'cards.projects.${project}.company'
						project=locale_file
					}}</p>
				<p>{{tVariables
						'cards.projects.${project}.location'
						project=locale_file
					}}</p>
			</div>

			{{#if company_src}}
				<img class='logo-img' src='{{@root.base}}{{company_src}}' />
			{{/if}}
		</div>
	</div>
</a>