<div class='card team d-flex flex-col gap-05'>
	{{#if img_src}}
		<img src='{{@root.base}}{{img_src}}' />
	{{/if}}

	<div class='grow-1 d-flex flex-col gap-1 justify-between mx-1 mb-1'>
		<div>
			<h4>{{tVariables
					'cards.team.team.${member}.name'
					member=locale_file
				}}</h4>
			<p class='bold color-primary'>{{tVariables
					'cards.team.team.${member}.function'
					member=locale_file
				}}</p>
		</div>

		<div class='d-flex gap-075 center flex-wrap'>
			<div class='grow-1 d-flex gap-05 center'>
				{{#if linkedin}}
					<a
						class='social-link d-flex center align-end'
						href='{{linkedin}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M24 24H19.2V15.6012C19.2 13.2972 18.1836 12.0117 16.3608 12.0117C14.3772 12.0117 13.2 13.3512 13.2 15.6012V24H8.4V8.4H13.2V10.1543C13.2 10.1543 14.706 7.51172 18.0996 7.51172C21.4944 7.51172 24 9.58333 24 13.8697V24ZM2.9304 5.90508C1.3116 5.90508 0 4.58275 0 2.95195C0 1.32235 1.3116 0 2.9304 0C4.548 0 5.85959 1.32235 5.85959 2.95195C5.8608 4.58275 4.548 5.90508 2.9304 5.90508ZM0 24H6V8.4H0V24Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				{{#if email}}
					<a
						class='social-link d-flex center align-end'
						href='{{email}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 19' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M2.4 19C1.74 19 1.175 18.7674 0.705 18.3023C0.235 17.8372 0 17.2781 0 16.625V2.375C0 1.72187 0.235 1.16276 0.705 0.697656C1.175 0.232552 1.74 0 2.4 0H21.6C22.26 0 22.825 0.232552 23.295 0.697656C23.765 1.16276 24 1.72187 24 2.375V16.625C24 17.2781 23.765 17.8372 23.295 18.3023C22.825 18.7674 22.26 19 21.6 19H2.4ZM12 10.6875L21.6 4.75V2.375L12 8.3125L2.4 2.375V4.75L12 10.6875Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				{{#if itchio}}
					<a
						class='social-link d-flex center align-end'
						href='{{itchio}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 21' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M3.12916 0.129843C2.08234 0.734267 0.0197553 3.0387 0 3.64302V4.6435C0 5.91167 1.21897 7.02615 2.32548 7.02615C3.65408 7.02615 4.76125 5.95516 4.76147 4.68414C4.76147 5.95505 5.83064 7.02615 7.15957 7.02615C8.48838 7.02615 9.52326 5.95516 9.52326 4.68414C9.52326 5.95505 10.6597 7.02615 11.9883 7.02615H12.0122C13.3408 7.02615 14.4784 5.95516 14.4784 4.68414C14.4784 5.95505 15.5128 7.02615 16.8414 7.02615C18.17 7.02615 19.2392 5.95516 19.2392 4.68414C19.2392 5.95505 20.3464 7.02615 21.6749 7.02615C22.781 7.02615 24 5.91177 24 4.6435V3.64302C23.9794 3.0387 21.917 0.734267 20.8706 0.129843C17.6175 0.0186905 15.3608 -0.000415473 11.9992 6.75802e-06C8.63872 0.000217874 4.05483 0.0512023 3.12894 0.129843H3.12916ZM9.50654 6.4289C9.37946 6.64426 9.22207 6.84131 9.03893 7.01433C8.51907 7.51016 7.81978 7.78764 7.09162 7.78701C6.33343 7.78701 5.64188 7.49145 5.1404 7.01411C4.95913 6.841 4.82127 6.65585 4.69428 6.4403V6.44072C4.56836 6.6567 4.39143 6.84163 4.21016 7.01496C3.68896 7.51072 2.98867 7.78801 2.2596 7.78733C2.16842 7.78733 2.07398 7.76305 1.99692 7.73771C1.89054 8.81968 1.84495 9.85309 1.82932 10.6078V10.6121C1.82715 10.9952 1.82552 11.3098 1.82346 11.7468C1.84408 14.0174 1.59226 19.1042 2.85247 20.354C4.80521 20.7973 8.39851 20.9989 12.004 21H12.0043C15.6095 20.9989 19.203 20.7973 21.1558 20.355C22.416 19.105 22.1642 14.0182 22.1848 11.7484C22.1829 11.3114 22.1811 10.9966 22.179 10.6136V10.6094C22.1628 9.85552 22.1177 8.82179 22.0108 7.74004C21.9337 7.76537 21.8385 7.78996 21.747 7.78996C21.0178 7.79064 20.3174 7.5134 19.7959 7.0177C19.6141 6.84406 19.4377 6.65912 19.3115 6.44347L19.3109 6.44273C19.1843 6.65807 19.0463 6.84353 18.8645 7.01654C18.363 7.49366 17.6716 7.78923 16.9136 7.78923C16.1556 7.78923 15.4678 7.49366 14.9663 7.01654C14.7832 6.84339 14.6258 6.64637 14.4985 6.43112C14.3729 6.64626 14.217 6.8433 14.0354 7.01654C13.5139 7.51259 12.8132 7.79 12.0837 7.78923C12.0573 7.78923 12.0306 7.78817 12.0045 7.78711H12.0036C11.9773 7.78817 11.9509 7.78923 11.9244 7.78923C11.1661 7.78923 10.4746 7.49366 9.97296 7.01654C9.79119 6.84342 9.63518 6.64644 9.50947 6.43133L9.50654 6.4289ZM7.50257 8.94888L7.50235 8.94973H7.50453C8.29799 8.95142 9.00354 8.94973 9.87625 9.87684C10.5644 9.80686 11.2819 9.77171 12.0016 9.77287H12.0027C12.7223 9.77181 13.4398 9.8077 14.128 9.87737C15.0018 8.95057 15.7062 8.95268 16.4997 8.95057H16.5019V8.94952C16.8774 8.94952 18.3765 8.94952 19.4218 11.8038L20.545 15.72C21.377 18.6334 20.2787 18.7052 18.9089 18.7073C16.8769 18.6344 15.7524 17.1989 15.7524 15.7643C14.6278 15.9438 13.3155 16.0335 12.0037 16.0335H12.0032C10.6913 16.0335 9.37944 15.9438 8.25512 15.7643C8.25512 17.1989 7.13058 18.6334 5.09883 18.7073C3.72898 18.7052 2.6305 18.6334 3.46272 15.7211L4.58508 11.8049C5.63037 8.95057 7.13048 8.95057 7.50496 8.95057L7.50257 8.94888ZM12.0007 11.192V11.1927C11.9989 11.1945 9.86214 13.1029 9.4781 13.7816L10.8773 13.7272V14.9136C10.8773 14.9693 11.4389 14.9467 12.0007 14.9215H12.0015C12.5634 14.9468 13.1249 14.9693 13.1249 14.9137V13.7273L14.5241 13.7815C14.14 13.1028 12.0015 11.1927 12.0015 11.1927V11.1921L12.0012 11.1923L12.0007 11.192Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				{{#if artstation}}
					<a
						class='social-link d-flex center align-end'
						href='{{artstation}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 22' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M0 16.9667L2.0189 20.6058C2.42722 21.4329 3.24386 22 4.17391 22H17.6257L14.8355 16.9667H0Z'
								fill='#F0E9E0'
							/>
							<path
								d='M24 16.9903C24 16.4941 23.8639 16.0215 23.6144 15.6198L15.7202 1.34694C15.3119 0.543502 14.518 0 13.5879 0H9.41399L21.5955 21.9764L23.5236 18.5027C23.8866 17.841 24 17.5575 24 16.9903Z'
								fill='#F0E9E0'
							/>
							<path
								d='M12.862 13.3749L7.44045 3.56821L1.99622 13.3749H12.862Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				{{#if bluesky}}
					<a
						class='social-link d-flex center align-end'
						href='{{bluesky}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 21' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M5.20232 1.41356C7.95386 3.46639 10.9135 7.62868 12.0001 9.8624C13.0868 7.62884 16.0462 3.46635 18.7978 1.41356C20.7832 -0.0676825 24 -1.21378 24 2.43317C24 3.16151 23.5798 8.55165 23.3333 9.42672C22.4767 12.4691 19.355 13.245 16.5782 12.7754C21.432 13.5963 22.6667 16.3156 20.0001 19.0349C14.9357 24.1994 12.7211 17.7391 12.1534 16.0838C12.0494 15.7803 12.0007 15.6383 12 15.7591C11.9993 15.6383 11.9506 15.7803 11.8466 16.0838C11.2791 17.7391 9.06454 24.1995 3.99987 19.0349C1.33323 16.3156 2.56794 13.5962 7.42179 12.7754C4.64492 13.245 1.5232 12.4691 0.666658 9.42672C0.420196 8.55157 0 3.16143 0 2.43317C0 -1.21378 3.21689 -0.0676825 5.20218 1.41356H5.20232Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				{{#if discord}}
					<a
						class='social-link d-flex center align-end'
						href='{{discord}}'
						target='_blank'
					>
						<svg viewBox='0 0 24 18' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M15.3785 0C15.144 0.411994 14.9334 0.8382 14.742 1.27387C12.9232 1.00395 11.0709 1.00395 9.24729 1.27387C9.06063 0.8382 8.84523 0.411994 8.61072 0C6.902 0.288881 5.23636 0.795581 3.65689 1.51065C0.526643 6.09945 -0.320532 10.5698 0.100668 14.9787C1.93381 16.3189 3.98715 17.3417 6.17448 17.9953C6.66747 17.3417 7.10303 16.6456 7.47636 15.9211C6.76798 15.6606 6.08354 15.3339 5.42782 14.955C5.60012 14.8319 5.76765 14.704 5.93038 14.5809C9.77378 16.371 14.2251 16.371 18.0732 14.5809C18.236 14.7135 18.4035 14.8414 18.5758 14.955C17.9201 15.3386 17.2356 15.6606 16.5225 15.9258C16.8958 16.6504 17.3313 17.3465 17.8244 18C20.0116 17.3465 22.0649 16.3283 23.8982 14.9882C24.3959 9.87371 23.0462 5.44119 20.3323 1.51539C18.7577 0.800325 17.092 0.293606 15.3833 0.00946875L15.3785 0ZM8.01242 12.2652C6.83022 12.2652 5.84902 11.2044 5.84902 9.89267C5.84902 8.58092 6.79192 7.51539 8.00765 7.51539C9.22338 7.51539 10.1902 8.58564 10.171 9.89267C10.1519 11.1997 9.21858 12.2652 8.01242 12.2652ZM15.9864 12.2652C14.7994 12.2652 13.8278 11.2044 13.8278 9.89267C13.8278 8.58092 14.7707 7.51539 15.9864 7.51539C17.2021 7.51539 18.1642 8.58564 18.145 9.89267C18.1259 11.1997 17.1926 12.2652 15.9864 12.2652Z'
								fill='#F0E9E0'
							/>
						</svg>
					</a>
				{{/if}}
				<a>
				</a>
			</div>
			{{#if porfolio}}
				<a class='btn-primary' href='{{porfolio}}' target='_blank'>{{t
						'cards.team.team.portfolio'
					}}</a>
			{{/if}}
		</div>
	</div>
</div>